body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* This is a header */
header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%), url("images/donation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    text-align: center;
}

button {
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.donate {
    padding-top: 200px;
}

.donate h1 {
    font-size: 40px;
}

/* This is a Donate Today */
.donate-today {
    padding-top: 100px;
    text-align: center;
}

.donate-today label {
    color: #beb6b6;
}

#other-amount {
    border: none;
    border-bottom: 1px solid #808080;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}

.donate-amount {
    display: flex;
    margin-left: 25%;

}

.donate-amount h1 {
    background-color: #beb6b6;
    padding: 30px 30px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#amount {
    color: #FF5959;
    border: 2px solid #FF5959;
    background-color: #d69999;
}

/* This is a Donate Plan */
.donate-plan {
    margin-top: 100px;
    text-align: center;
}

.donate-item {
    display: flex;
}

.item {
    width: 350px;
    height: 300px;
    margin-left: 5%;
    margin-top: 50px;
    background-color: #d69999;
    padding: 10px 10px;
}

.food {
    background-color: #EDF5F6;
}

.shelter {
    background-color: #FFEEEE;
}

.education {
    background-color: #FFF4D6;
}

/* This is a Change Together Funds */
.change-together {
    display: flex;
}

.funds {
    width: 30%;
    margin-left: 4%;
    text-align: justify;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 5px 10px 40px #888888;
}

.funds img {
    width: 100%;
    border-radius: 20px;
}

#together {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* This is a updates */
.updates {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

/* This is a subscribe */
.subscribe-section {
    position: relative;
    margin-left: 25%;
    text-align: center;
    width: 50%;
    height: 150px;
    background-color: rgb(255 244 214);
}

.subscribe {
    margin-top: 50px;
    border: none;
    text-align: center;
    width: 350px;
    height: 40px;
    background-color: #eaeae3;

}

#subscribe-btn {
    margin-top: 50px;
    margin-right: 10px;
    padding: 9px;
    text-align: center;
    background-color: #FF5959;
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 0%;
    margin-left: 0%;
}

/* This is a footer */
footer {
    margin-top: 100px;
    background-color: black;
    height: 140px;
    color: #FFEEEE;
    text-align: center;
}

footer p {
    padding-top: 70px;
    font-size: large;
}